/* HERO */
.hero {
    background: linear-gradient(to bottom right, #FF5252, #263238);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}



.hero .content {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.hero .content .profile-picture {
    position: relative;
}


@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hero .content .profile-picture {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    margin-bottom: 20px;
    background-image: url("../assets/perfilFJGM.png");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero .hero-title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    z-index: 100;
    color: white;
}
.hero .hero-title-sub {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    z-index: 100;
    color: white;
}



